<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @market.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @market.descripcion %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
