<p id="notice"><%= notice %></p>

<h1>Listing Indicator Types</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicator_types.each do |indicator_type| %>
      <tr>
        <td><%= indicator_type.nombre %></td>
        <td><%= indicator_type.descripcion %></td>
        <td><%= link_to 'Show', indicator_type %></td>
        <td><%= link_to 'Edit', edit_indicator_type_path(indicator_type) %></td>
        <td><%= link_to 'Destroy', indicator_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicator type', new_indicator_type_path %>
